<!doctype html>
<html>
    <head>
        <title>Three frameworks</title>
    </head>
    <body>
        <h1>The three frameworks</h1>
        <ol>
            <a href = "/ejs"><h3>EJS</h3></a> 
            <a href = "/pug"><h3>PUG</h3></a> 
            <a href = "/handlebars"><h3>HANDLEBARS</h3></a> 
        </ol>
    </body>
</html>