<!doctype html>
<html>
    <head>
        <title>Add things into list buddy</title>
    </head>

    <body>
        <h1>Add into the list pal</h1>
        <form action="/" method="post">
            <input name = "text1" type = "text" placeholder = "first name ">
            <input name = "text2" type = "text" placeholder = "last name">
            <input type = "submit" value = "input">
        </form>
        <form action = "/showall">
            <input type="submit" value = "Show all">
        </form>
    </body>
</html>