<!doctype html>
<html>
    <head>
        <title>Honda</title>
    </head>
    <body>
        <h1>Honda Civic</h1>
        <ol>
            <ul><%= cars.listOfCars[0].info[0] %></ul>
            <ul><%= cars.listOfCars[0].info[1] %></ul>
            <ul><%= cars.listOfCars[0].info[2] %></ul>
        </ol>
    </body>
    <script type="text/javascript" src="../app.js"></script>
</html>

