<!doctype html>
<html>
    <head>
        <title>Lexus</title>
    </head>
    <body>
        <h1>Lexus RX 350L</h1>
        <ol>
            <ul><%= cars.listOfCars[1].info[0] %></ul>
            <ul><%= cars.listOfCars[1].info[1] %></ul>
            <ul><%= cars.listOfCars[1].info[2] %></ul>
        </ol>
    </body>
    <script type="text/javascript" src="../app.js"></script>
</html>

