<!doctype html>
<html>
    <head>
        <title>Toyota</title>
    </head>

    <body>
         <h1>Toyota Camry</h1>
        <ol>
            <ul><%= cars.listOfCars[2].info[0] %></ul>
            <ul><%= cars.listOfCars[2].info[1] %></ul>
            <ul><%= cars.listOfCars[2].info[2] %></ul>
        </ol>
        </ol>
    </body>
    <script type="text/javascript" src="../app.js"></script>
</html>

